// Theme config
$main-font: 'Poppins', sans-serif;
$main-font-size: 14px;
$button-font-size: 16px;
$border-radius: 5px;

$primary: #5F9C0E;
$primary-subtle: #7EBF26;
$white: #fff;
$disabled: #6c757d;
$loading: #333;
$surface: #f9f9f9;
$border: 1px solid #ddd;

// Device breakpoints
$breakpoint-mobile: 752px;
